<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="align-self: center">

    <div style="margin: auto; padding: 30px; ">
        <div class="jumbotron">
            <h1 class="display-4">Hi {{username}},</h1>
            <p class="lead">Welcome to online voting portal.</p>
            <hr class="my-4">
            <p>Your Aadhar id: {{aadhar_id}}</p>
            <p>Your Location: {{location}}</p>
            <p>Your Voting status: {{voting_status}}</p>
            <hr class="my-4">
            <div class="row">
                <div style="width: 10px"></div>
                <button class="btn btn-primary" type="button">View Parties</button>
                <div style="width: 30px"></div>
                <button class="btn btn-info" type="button">Vote now</button>
            </div>
        </div>
    </div>
</body>

</html>