<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    </style>

</head>

<body style="align-self: center">


    <div style="margin: auto; padding: 30px; ">
        <h2 style="margin: 10px">Parties</h2>
        <div class="grid">

            <div class="card" style="width: 18rem; margin: 10px">
                <img src="https://www.logolynx.com/images/logolynx/e8/e89311b996006330e8d5b61df45c0b27.jpeg" class="card-img-top" alt="Party logo">
                <div class="card-body">
                    <h5 class="card-title">{{Party logo}}</h5>
                    <p class="card-text">{{Party description}}</p>
                    <a href="#" class="btn btn-primary">Vote now</a>
                </div>
            </div>

        </div>

    </div>
</body>

</html>