{% extends 'base.html' %}
{% block title %}
Parties
{% endblock %}

{% load static %}
<a href="{% url 'parties_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% block content %}
    <form method="GET">
                {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Party logo</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{  form.as_p }}</td>
                                <td>{{ form.as_p  }}</td>
                            </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>


        <input class="btn btn-success" type="submit" value="Submit">
    </>


{%endblock%}

