{% extends 'base.html' %}

{% block title%}
Login
{% endblock title%}

{% block content%}

<div style="margin: auto; padding: 50px;max-width: 500px; position: relative; ">
    <h2 style="text-align: center">Online Voting</h2>
    <br>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Aadhar ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock content%}